<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Document</title>
    <style>
        h1{
            color: aqua;
            background-color: black;
        }
        body{
            background-color:whitesmoke;
        }
    </style>
</head>
<body>
    <center>
        <h1><marquee>THIS IS GIRIDHAR HTML PAGE</marquee></h1>
        
    </center>
    
</body>
</html>